doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='http://localhost:3000/stylesheets/css')
    link(rel='stylesheet', href='/stylesheets/in.css')
  body
    block content
